<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8dad64">  <td>20/09/25 10:03:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateCourse.LoginManager()[pri:0, instance:Firstproject.exempleOne.CreateCourse@21e360a]">LoginManager</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="976fbc">  <td>20/09/25 10:03:19</td>   <td>-28752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTest.loginInvalidUsers(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Firstproject.exempleOne.FirstTest@342c38f8]">loginInvalidUsers</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="976fbc">  <td>20/09/25 10:03:24</td>   <td>-23337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTest.loginInvalidUsers(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Firstproject.exempleOne.FirstTest@342c38f8]">loginInvalidUsers</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="976fbc">  <td>20/09/25 10:03:37</td>   <td>-10274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTest.loginInvalidUsers(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Firstproject.exempleOne.FirstTest@342c38f8]">loginInvalidUsers</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="976fbc">  <td>20/09/25 10:03:42</td>   <td>-5418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTest.loginValidUser()[pri:0, instance:Firstproject.exempleOne.FirstTest@342c38f8]">loginValidUser</td> 
  <td>main@20853837</td>   <td></td> </tr>
</table>
